


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Breaking News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="button btn btn-success" id="scrapeArticles" role="button" aria-haspopup="true" aria-expanded="false">
          SCRAPE NEW ARTICLES
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
    <h1 class="display-3">Breaking News</h1>
    <hr class="my-4">
    <h2 class="display-4">Mongo Edition</h2>
    <h2 class="display-5">Featuring the New York Times</h2>
    <p class="lead">With a click of a button, you can scrape news from the New York Times and you can leave comments about the latest articles.</p>
    <a class="btn btn-primary btn-lg" id="" href="#" role="button">SCRAPE NEW ARTICLES!</a>
</div>

<div class="container-fluid articlePlacesaver" id="articlesHere">
<!-- Put the scraped articles here -->
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="../assets/js/index.js"></script>